below is 11.1 and 11.2

In [5]:
import zoo

zoo.hours()

Open 9-5 daily

In [7]:
import zoo as menagerie

menagerie.hours()

Open 9-5 daily

Below is 16.1-16.7

In [ ]:
books = [
    ['author', 'book'],
    ['J R R Tolkien', 'The Hobbit'],
    ['Lyne Truss', 'Eats,Shoots & Leaves'],
]

with open('books.csv', 'w', newline='') as csvfile:
    csvout=csv.writer(csvfile, quoting = csv.QUOTE_MINIMAL)
    csvout.writerows(books)

with open('books.csv', 'r') as fin:
    cin = csv.DictReader(fin)
    books = [row for row in cin]

print(books)

books_Two = [
    ['Title', 'author','year'],
    ['The Weirdstone of Brisingamen', 'Alan Garner', '1960'],
    ['Perdido Street Station', 'China Mieville', '2000'],
    ['Thud!', 'Terry Pratchet', '2005'],
    ['The Spellman Files', 'Lisa Lutz', '2007'],
    ['Small Gods', 'Terry Pratchet', '1992'],
]

with open('books_Two.csv', 'w', newline='') as csvfile:
    csvout=csv.writer(csvfile, quoting = csv.QUOTE_MINIMAL)
    csvout.writerows(books_Two)

with open('books_Two.csv', 'r') as fin:
    cin = csv.DictReader(fin)
    books_Two = [row for row in cin]

print(books_Two)

#connect to the database
conn = sqlite3.connect('books.db')
curs= conn.cursor()

#create a table
curs.execute("CREATE TABLE books (Title TEXT, author TEXT, year INTEGER)")

#insert data into the table
for book in books_Two:
    curs.execute("INSERT INTO books (Title, author, year) VALUES (?, ?, ?)", (book['Title'], book['author'], int(book['year'])))

conn.commit()
conn.close()

#conect to the database
conn = sqlite3.connect('books.db')
curs= conn.cursor()

#sort books in ascending year order
curs.execute("SELECT Title,author, year FROM books ORDER BY year ASC")

books = curs.fetchall()

#print sorted books by ascending year
for book in books:
    print(f"Title: {book[0]}, Author: {book[1]}, Year: {book[2]}")

conn.close()

below is 16.8

In [ ]:
from sqlalchemy import create_engine, MetaData, Table


db_url = 'sqlite:///books.db'


engine = create_engine(db_url)


metadata = MetaData()
books_table = Table('books', metadata, autoload_with=engine)


with engine.connect() as connection:
    stmt = books_table.select().order_by(books_table.c.Title.asc())
    results = connection.execute(stmt)

    
    for row in results:
        print(f"Title: {row['Title']}")